<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register book</title>
</head>

<body>
    <form method="post" enctype="multipart/form-data">
        <input type="text" placeholder="name of the participant : " name="name">
        <!-- <input type="file" name="pic_cover"> -->
        <select name="membership_type">
            <option value="kids">balavedhi</option>
            <option value="adults">normal</option>
        </select>
        <input type="text" name="auth_id" placeholder="Authentication token">
        <input type="submit" value="Register">
    </form>
</body>

</html>